@charset "UTF-8";
.h1st {border: 1px solid;
width: 600px; }

.pre {white-space: pre;}

.boxst {border: 1px solid;
width: 600px;
 line-height: 1.8;}
 
 
 
  /* 안쪽  여백 = padding */
input {border: 1px solid #487;} 
 
.pad01 {padding: 6px;} 
.pad02 {padding: 0.5em;} 
.pad03 {padding: 0.5em 1.5em;}
.pad04 {padding: 1.5em 0.5em;}
.pad05 {padding: 0.2em 1em 1.5em;} 
.pad06 {
padding: 4px 8px 12px 16px; } 

 nav {padding:1em;
line-height: 2;/* 줄간격(행간)*/} 

 nav>a {background-color: #000; 
 color: #fff; 
 text-decoration: none;
/*  width: 20px; */
 padding: 5px 10px; }

 nav>a:hover {
 background-color: #ff0; 
 color: #520; }



table, th, td {border: 1px solid;
	color: #7aa; }
	
/* table {width: 500px;  height: 100px;} */

th {background-color:#7aa;  
    border-color:#488;
	padding: 12px 50px;
	text-transform:capitalize;
	color:#fff; }
	
td { padding: 6px 50px;}


.h2-st{border-left: 12px solid;
			background-color: #fdc;
			padding-left: 10px;
			padding-bottom: 5px;
			color: #900;}


/*padding의 방향별 지정 속성*/
.p-04 {padding: 1em 1em 1.5em 1.2em;}

#pd-dir>p{border: 1px solid #fcc; color: #a00;}

.p-L {padding-left: 80px;}
.p-R {padding-right: 80px;}
.p-T {padding-top: 80px;}
.p-B {padding-bottom: 2.5em;}

/* */
#pola>img {border: 1px solid;}
.pola01 {padding: 1em;}
.pola02 {padding: 21em; padding-bottom: 5em;}
.pola03{padding: 1em 1em 7em;}
.pola04{padding: 1.5em 1.3em 10em 1.3em;}























