@charset "UTF-8";

nav li{border:1px solid red;
display: inline-block;
width: 120px; height: 30px;
margin-right: 10px;
text-align: center;
line-height: 30px;
}
nav a{text-decoration: none;
background-color:#5cc;
display: block;}
nav a:link, nav a:visited{color: #339;}
nav a:hover, nav a:active{color:#900;}

#ol01>li{border:1px solid red;
width: 48%; height: 100px;
display:inline-block;
padding: 0.8%;}

#ol01>li:nth-of-type(1){
	background-color: #3ef;
}
#ol01>li:nth-of-type(2){
	background-color: #ef3;
}
#ol01>li:nth-of-type(3){
	background-color: #3fe;
}
#ol01>li:nth-of-type(4){
	background-color: #0af;
}
#ol01:hover>li:nth-of-type(4){
	display: none;
}
#sec01>*:not(h2){/* :not(A) = 부정 선택자 A만 제외하고 적용*/
border:1px solid #555;
width: 150px height: 40px;
margin: 30px;
display: inline;
}

#sec02>*:not(h2){border:1px solid #33a;
width: 150px height: 40px;
margin: 30px;
display: block;
}

#sec02:hover>*:not(h2){
	display: inline;
}

#sec03>*:not(h2){
border: 1px solid #500;
width: 150px; heigth: 50px;
margin: 30px;
display: inline-block;
}
#sec04>p{
border-top: 4px solid #333;
border-bottom: 1px oloid #ddd;
background-color:#ccc;
margin: 0;
padding: 0.5em 1em;
}

.none{display:none;
background-color:#fff !important;}

#p01:hover+.none{display:block;}
.dis-no{display:none;}
#p03:hover+.dis-no{/*A+B 형제선택자 중 선택 A바로 뒤에 오는 형제 관계의 B하나만을 불러옴*/
display: block;
}

hr{margin: 5em;}

.hid{visibility: hidden;}
#p06:hover+.hid{
	visibility: visible;
}

h2:hover{
	opacity: 0;
	transition: 1.8s;
}