@charset "UTF-8";

h1{background-color: #3ee; color: #044; width: 700px; margin: 4em auto; text-align: center; border-top:3px solid; border-bottom: 8px double;}

#div01{border: 4px dashed #eee; color: #333; width: 700px; margin: 4em auto;}

.wh{
	background-color:#fff; margin: 10px 50px 12px 0; padding: 0.7em; 
}
h2{background-color: #3ee; border-left: 10px solid; border-right: 10px solid; width :13em;  margin-left: 5em; margin-top: 2em;
padding 5px 8px; text-align:center; color: #044;}

#div01>ol{
	background-color: #ccc; margin: 2em 1.5em; padding-left:7.5em; padding-top: 1em; color: #044;
}
#input-box01>input{padding: 0.7em;}

/* */
.tab01, th, td{border : 1px solid;}
.pre{white-space: pre;}/*공백처리 그대로 살려주기*/
.tab01>caption{
	padding-bottom: 0.5em;
	padding-left:0.8em;
	text-align: left;
	font-weight: bold;
	color: #39a;}
tr>td:nth-of-type(3){background-color: #7ff;}
tr>td:nth-of-type(2){background-color:#ff7;}
tr>td:nth-of-type(1){text-align: center; font-weight: bold;}
.mg01{margin: 2em;}
.mg02{margin: 2em 5em;}
.mg03{margin: 2em 5em 4em;}
.mg04{margin: 1em 2em 3em 4em;}

.in-a{border: 1px solid; width: 100px; height: 100px; margin: 30px;}

label{border: 1px solid; width: 200px; color: #0a0; margin: 50px;}

.bl-div{border: 1px solid; width:30px; height: 50px; margin: 30px;
	
}
section {border: 3px dashed #ccc;
margin: 1em;
padding: 1em;}
#sec01>div {border: 1px solid; color: #290;}
.dv01{margin: 50px;}
.dv02{margin: 50px 10%;}
.dv03{margin: 20px 5% 70px;}
.dv04{margin: 90px 0 10px 3%}

/*margin의 방향별 지정 속성*/
.mt {magrin-top: 80px;}
.mr {margin-right: 200px; text-align: right;}
.mb {margin-bottom : 40px;}
.ml {margin-leftL: 80px;}